{% extends 'base.html' %}

{% block title %}Оновити Користувача{% endblock %}

{% block footer %}
<script src="/js/hideShowPassword.min.js"></script>
<script src="/js/app.js"></script>

<script>
    $(document).ready(function () {

        /**
         * Validate the form
         */
        $('#formSignup').validate({
            rules: {
                name: 'required',
                email: {
                    required: true,
                    email: true,
                    remote: '/account/validate-email'
                },
                password: {
                    required: true,
                    minlength: 6,
                    validPassword: true
                }
            },
            messages: {
                email: {
                    remote: 'email already taken'
                }
            }
        });


        /**
         * Show password toggle button
         */
        $('#inputPassword').hideShowPassword({
            show: false,
            innerToggle: 'focus'
        });
    });
</script>

{% endblock %}

{% block body %}

<h1>Edit User</h1>

{% if user.errors is not empty %}
<p>Errors:</p>
<ul>
    {% for error in user.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="/signup/update" method="post" id="">
    <div class="form-group">
        <label for="inputName">Імя</label>
        <input id="inputName" name="name" value="{{user.name}}" placeholder="Імя" autofocus required class="form-control"/>
    </div>
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input id="inputEmail" name="email" value="{{user.email}}" placeholder="ваш email" required type="email" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="inputCountry">Країна</label>
        <select class="form-control" id="inputCountry" name="country_id" class="form-control"/>

        <option value="{{ country.id }}">{{ country.name }}</option>

        </select>
    </div>
    <button type="submit" name="submit" class="btn btn-default">Додати</button>
</form>

{% endblock %}
