{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}

{% if users %}

<h3>Users List</h3>

<table class="table table-hover">
    <tr>
        <thead>
        <th>
            Імя
        </th>
        <th>
            Email
        </th>
        <th>
            Країна
        </th>

        <th>
            Редагувати
        </th>
        <th>
            Видалити пост
        </th>
        </thead>
    </tr>
    <tbody>
    {% for user in users %}
    {% for country in countries %}
    <tr>
        <td>{{ user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{country.name}}</td>
        <td><a href="/user/{{user.id}}/edit" class="btn btn-info">Редагувати</a></td>
        <td><a href="/user/{{user.id}}/remove" class="btn btn-danger">Видалити</a></td>
    </tr>
    {% endfor %}
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
